python-dotenv
langchain==0.2.16
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-groq==0.1.9
langchain-core==0.2.38
sentence-transformers==2.7.0
faiss-cpu
pypdf
docx2txt
fastapi
uvicorn[standard]
pydantic
