python-dotenv
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
numpy>=2.0.0
langchain==0.2.16
langchain-community==0.2.16
langchain-text-splitters==0.2.4
langchain-groq==0.1.9
langchain-core==0.2.40
sentence-transformers==2.7.0
faiss-cpu
pypdf
docx2txt
fastapi
uvicorn[standard]
pydantic
